alembic==1.7.5
click==8.0.3
dill==0.3.4
Flask==2.0.2
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
grpcio==1.43.0
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
protobuf==3.19.3
psycopg2==2.9.3
pulumi==3.22.1
PyYAML==6.0
semver==2.13.0
six==1.16.0
SQLAlchemy==1.4.31
Werkzeug==2.0.2
